torch==1.13.1
pytorch_lightning==1.8.6
transformers==4.24.0
scipy==1.10.0
numpy==1.24.1
pandas==1.5.2
pytest==7.2.1
google-cloud-storage==2.7.0
pickle5==0.0.11
scikit-learn==1.2.0
fastapi==0.89.1
uvicorn==0.20.0
pydantic==1.10.4